div{
    width: 70%;
    height: 90vh;
    margin: 0 auto;
}
img{
    width: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    /* border-bottom: 1px solid white; */
    box-shadow: 0 3px 18px 0px #a1a1a18f;
    padding: 10px 30px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}